
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content_hd">
    <h2 id="firstHeading" class="">首页</h2>
    <div class="info">

    </div>
</div>
<div id="bodyContent" class="bodyContent">
    <!-- bodytext -->
    <p>
        网站说明
    </p><p>
       
    </p>
</div>