
@{
    ViewBag.Title = "Html转义";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content_hd">
    <h2 id="firstHeading" class="">Html转义</h2>
</div>
<!-- bodyContent -->
<div id="bodyContent" class="bodyContent">
    <!-- bodytext -->
    <div>
        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <th>字符</th>
                    <th>十进制</th>
                    <th>转义字符</th>
                </tr>
                <tr>
                    <td>"</td>
                    <td>&amp;#34;</td>
                    <td>&amp;quot;</td>
                </tr>
                <tr>
                    <td>&amp;</td>
                    <td>&amp;#38;</td>
                    <td>&amp;amp;</td>
                </tr>
                <tr>
                    <td>&lt;</td>
                    <td>&amp;#60;</td>
                    <td>&amp;lt;</td>
                </tr>
                <tr>
                    <td>&gt;</td>
                    <td>&amp;#62;</td>
                    <td>&amp;gt;</td>
                </tr>
                <tr>
                    <td>空格</td>
                    <td>&amp;#160;</td>
                    <td>&amp;nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
   


</div>

